
      

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Login</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <form class="form" novalidate>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Email" value="" name="email" type="email" [(ngModel)]="loginData.email" >
                    </mat-form-field>
            
                    <mat-form-field class="example-full-width">
                            <input matInput placeholder="Pasword" value="" name="password" type="password" [(ngModel)]="loginData.password" > 
                    </mat-form-field>
                    <button (click)="post()" mat-raised-button color="primary">Login</button>
                    
            </form>
    </mat-card-content>
        
</mat-card>