<mat-toolbar>
    <button  mat-button routerLink="/">PS Social</button> 
        <button mat-button routerLink="/users">Users</button>
    <span style="flex : 1 1 auto"></span>
    <button *ngIf="!authService.isAuthenticated" mat-button routerLink="/register">Register</button>
    <button *ngIf="!authService.isAuthenticated" mat-button routerLink="/login">Login</button>
    <button *ngIf="authService.isAuthenticated" mat-button (click)="authService.logout()">Logout</button>

</mat-toolbar>
<router-outlet></router-outlet>
