
      

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4>Profile</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
          <mat-list>
          <mat-list-item> Name : {{apiService.user?.name}}</mat-list-item>
          <mat-list-item > Email : {{apiService.user?.email}}</mat-list-item>
          <mat-list-item > Description : {{apiService.user?.description}}</mat-list-item>
          </mat-list> 
    </mat-card-content>
        
</mat-card>

<mat-card>
        <mat-card-header>
            <mat-card-title>
                <h4>Posts</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <app-messages></app-messages>
        </mat-card-content>
            
    </mat-card>
